<app-hero-image group="FF" quote="Niets is leuker dan samen muziek maken" buttonLabel="Over de fanfare" buttonLink="/over-ons/fanfare"></app-hero-image>
<app-hero-image group="MM" quote="De Muziekmakkers zijn de toekomst van onze fanfare" buttonLabel="Over de Muziekmakkers" buttonLink="/over-ons/muziekmakkers"></app-hero-image>
<app-hero-image group="MR" quote="Op een speelse manier kennis maken met muziek" buttonLabel="Over de MuziekRakkers" buttonLink="/over-ons/muziekrakkers"></app-hero-image>
<app-hero-image group="F4F" quote="Alles behalve een gewone fanfare" buttonLabel="Over de Fanfare 4 Fun" buttonLink="/over-ons/fanfare-4-fun"></app-hero-image>
