<app-title title="Over de fanfare"></app-title>
<app-hero-image group="FF" image="/assets/images/hero_fanfare.jpg" quote="Niets is leuker dan samen muziek maken" buttonLabel="Over de fanfare" buttonLink="/over-ons/fanfare"></app-hero-image>
<app-title title="Over de Muziekmakkers" class="mm"></app-title>
<app-hero-image group="MM" image="/assets/images/hero_muziekmakkers.jpg" quote="De Muziekmakkers zijn de toekomst van onze fanfare" buttonLabel="Over de Muziekmakkers" buttonLink="/over-ons/muziekmakkers"></app-hero-image>
<app-title title="Over de MuziekRakkers" class="mr"></app-title>
<app-hero-image group="MR" image="/assets/images/hero_muziekrakkers.jpg" quote="Op een speelse manier kennis maken met muziek" buttonLabel="Over de MuziekRakkers" buttonLink="/over-ons/muziekrakkers"></app-hero-image>
<app-title title="Over de Fanfare 4 Fun" class="f4f"></app-title>
<app-hero-image group="F4F" image="/assets/images/hero_fanfare4fun.jpg" quote="Alles behalve een gewone fanfare" buttonLabel="Over de Fanfare 4 Fun" buttonLink="/over-ons/fanfare-4-fun"></app-hero-image>
