<app-hero-image group="FF" quote="Niets is leuker dan samen muziek maken" buttonLabel="Over de fanfare"></app-hero-image>
<app-hero-image group="MM" quote="De Muziekmakkers zijn de toekomst van onze fanfare" buttonLabel="Over de Muziekmakkers"></app-hero-image>
<app-hero-image group="MR" quote="Op een speelse manier kennis maken met muziek" buttonLabel="Over de MuziekRakkers"></app-hero-image>
<app-hero-image group="F4F" quote="Alles behalve een gewone fanfare" buttonLabel="Over de Fanfare 4 Fun"></app-hero-image>
