<div class="footer">
  <div class="copy">
    &copy; Koninklijke Fanfare De Vrienden van't Recht VZW Blaasveld
  </div>
  <div class="info">
    <ul>
      <li>
        <i class="material-icons">email</i>
        <span><a href="mailto:fanfaars@gmail.com">fanfaars@gmail.com</a></span>
      </li>
      <li>
        <i class="material-icons">language</i>
        <span><a href="https://www.facebook.com/FanfareBlaasveld">facebook.com/FanfareBlaasveld</a></span>
      </li>
      <li>
        <i class="material-icons multiline">home</i>
        <span>Broekstraat 11<br/>2830 Blaasveld</span>
      </li>
      <li>
        <i class="material-icons">business</i>
        <span>0 457 786 946</span>
      </li>
    </ul>
  </div>
</div>
