@import '../../colors';

.activity {
  width: calc(100% - 40px);
  min-height: 100px;
  margin: 0 10px 10px 10px;
  padding: 10px;

  background-color: $white;
  border-radius: 5px;

  app-calendar {
    float: left;

    margin: 0 25px 0 0;
  }

  .activity-title {
    margin-bottom: 5px;
  }

  .activity-description {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
  }

  .activity-details {
    margin-top: 10px;

    color: $grey;
    font-size: 11px;
    font-weight: 300;

    app-logo {
      margin-right: 3px;
      fill: $grey;
    }

    div {
      display: inline-flex;
      align-items: center;

      margin-right: 5px;

      &:last-of-type {
        margin-right: 0;
      }
    }

    .location {
      margin-left: auto;
    }
  }
}

.activity.FF {
  .activity-title {
    color: $ff-red;
  }

  app-calendar {
    ::ng-deep .calendar {
      .month {
        background-color: $ff-red;
      }

      .logo {
        background-image: url("../../../assets/images/logo_fanfare.png");
      }

      .content {
        border-color: $ff-red;
      }
    }
  }
}

.activity.MM {
  .activity-title {
    color: $mm-green;
  }

  app-calendar {
    ::ng-deep .calendar {
      .month {
        background-color: $mm-green;
      }

      .logo {
        background-image: url("../../../assets/images/logo_muziekmakkers.png");
        transform: scaleX(-1);
      }

      .content {
        border-color: $mm-green;
      }
    }
  }
}

.activity.MR {
  .activity-title {
    color: $mr-orange;
  }

  app-calendar {
    ::ng-deep .calendar {
      .month {
        background-color: $mr-orange;
      }

      .logo {
        background-image: url("../../../assets/images/logo_muziekrakkers.png");
        transform: scaleX(-1);
      }

      .content {
        border-color: $mr-orange;
      }
    }
  }
}

.activity.F4F {
  .activity-title {
    color: $f4f-purple;
  }

  app-calendar {
    ::ng-deep .calendar {
      .month {
        background-color: $f4f-purple;
      }

      .logo {
        background-image: url("../../../assets/images/logo_fanfare4fun.png");
        transform: scaleX(-1);
      }

      .content {
        border-color: $f4f-purple;
      }
    }
  }
}
