<div class="activity {{ activity.group }}">
  <app-calendar [date]="activity.date"></app-calendar>
  <div class="activity-title">{{ activity.title }}</div>
  <div class="activity-description" [innerHTML]="activity.description"></div>
  <div class="activity-details">
    <div class="date">
      <app-icon name="calendar" size="16"></app-icon>
      <span>{{ activity.date | date:'d MMMM yyyy':'':'nl-BE' }}</span>
    </div>
    <div class="time">
      <app-icon name="clock" size="16"></app-icon>
      <span>{{ activity.time }}</span>
    </div>
    <div class="location">
      <app-icon name="place" size="16"></app-icon>
      <span>{{ activity.place}}</span>
    </div>
  </div>
</div>
