<div class="selectList">
  <label *ngIf="label" [for]="selectListId">{{ label }}</label>
  <select #selectList [id]="selectListId" (blur)="onBlur()" (change)="onChange()">
    <option [value]="" [selected]="selectedValue === ''">(uur van aankomst)</option>
    <option *ngFor="let value of values" [value]="value" [selected]="selectedValue === value"
      [disabled]="value.startsWith('---') || disabledValues.includes(value)">
      {{ value }}
      <span *ngIf="disabledValues.includes(value)">(volzet)</span>
    </option>
  </select>
</div>