@import '../colors';

:host {
  font-weight: 300;

  div {
    margin: 0 15px 15px 15px;
  }

  .payment-details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 10px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 3px;

    .message {
      width: 100%;
    }

    .manual {
      width: 100%;

      table {
        margin: auto;

        tr {
          height: 40px;

          :nth-child(1) {
            width: 100px;
          }

          :nth-child(2) {
            font-weight: 400;
          }
        }
      }

      .status {
        color: grey;
        font-size: .75em;
        text-decoration: underline;
        cursor: pointer;
        white-space: nowrap;
      }
    }

    .qr {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    app-info {
      width: 100%;
    }
  }

  form.reservation {
    padding: 25px 15px;
    margin: 0 10px 15px 10px;

    background-color: $white;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 3px rgba(136, 136, 136, 0.08);

    app-input-field ::ng-deep .inputField {
      margin-bottom: 20px;

      input[type="checkbox"] {
        width: 25px;
      }
    }

    app-select-list#city ::ng-deep .selectList select {
      width: 100%;
    }

    .checkboxWithLabel {
      display: flex;

      margin: 0;

      &:first-of-type {
        margin-top: 40px;
      }
    }

    .period {
      display: flex;
      align-items: center;
      height: 36px;
      margin: 15px 0 10px 0;

      &.takeaway {
        margin-top: 0;
      }

      app-select-list ::ng-deep .selectList {
        margin: 0 10px;
      }
    }

    app-text-area ::ng-deep .textArea {
      margin-top: 40px;
    }

    .menu {
      margin: 10px 0 0 0;

      div {
        margin: 0;

        &.menuItem {
          position: relative;
          display: flex;
          align-items: center;

          height: 38px;
          margin-top: 5px;

          &:nth-of-type(3) {
            margin-top: 15px;
          }

          .price {
            position: absolute;
            right: 80px;

            color: #909090;
          }

          .amount  {
            position: absolute;
            right: 0;

            app-input-field ::ng-deep .inputField {
              margin: 0;
            }
          }
        }
      }

      .payment {
        margin: 40px 0 0 0;
      }
    }

    app-info ::ng-deep div {
      margin: 0;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 300px;
      margin: 30px auto 10px auto;
      padding: 10px 15px;

      color: $white;
      background-color: $ff-red-dark;
      border: solid 1px $ff-red-dark;
      border-radius: 5px;

      cursor: pointer;

      transition: background-color 1s;

      &:hover {
        background-color: $ff-red;
      }

      app-icon {
        fill: $white;
        margin-right: 15px;
      }

      @keyframes fly {
        0% { transform: rotateZ(30deg); left: 0; top: 10px; }
        25% { transform: rotateZ(45deg); top: 0; }
        30% { top: 0; }
        50% { transform: rotateZ(60deg); top: 10px; }
        75% { transform: rotateZ(45deg); top: 20px; }
        80% { top: 20px; }
        100% { transform: rotateZ(30deg); left: 300px; top: 10px; }
      }

      &.processing {
        position: relative;
        height: 50px;

        span {
          display: none;
        }

        app-icon {
          position: absolute;
          left: 10px;

          animation: fly 5s linear infinite;
        }
      }
    }
  }
}

@media (max-width: 624px) {
  :host {
    .payment-details {
      .qr,
      .qr-warning {
        display: none;
      }
    }
  }
}

@media (min-width: 400px) {
  :host {
    form.reservation {
      .menu {
        div.menuItem {
          .price {
            right: 100px;
          }
        }
      }
    }
  }
}

@media (min-width: 625px) {
  :host {
    .payment-details {
      .manual,
      .qr {
        width: calc(50% - 30px);
      }
    }
  }
}

@media (min-width: 800px) {
  :host {
    form.reservation {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 75px;
      grid-template-areas:
        "info menu"
        "error error"
        "button button";

      .info {
        grid-area: info;
      }

      .menu {
        grid-area: menu;
        margin-top: 0;
      }

      app-info.error {
        grid-area: error;

        margin-top: 15px;
      }

      button {
        grid-area: button;
      }
    }
  }
}
