@import '../../colors';

.title {
  padding: 10px;
  margin-top: 25px;

  .title-text {
    display: flex;
    align-items: center;

    .title-content {
      display: inline;

      font-size: 18px;
      font-weight: 400;
    }

    .title-link {
      display: inline;

      margin-left: auto;

      font-size: 12px;
      font-weight: 300;
      color: $grey;

      a,
      a:active,
      a:hover,
      a:visited {
        color: $grey;
      }
    }
  }

  hr {
    width: 75px;
    margin-top: 3px;
    text-align: left;

    border: solid 5px $ff-red-dark;
    border-width: 0 0 5px 0;
    border-radius: 2px;
  }
}

@media (min-width: 400px) {
  .title {
    .title-text {
      .title-link {
        font-size: 13px;
      }
    }
  }
}

@media (min-width: 600px) {
  .title {
    .title-text {
      .title-link {
        font-size: 14px;
      }
    }
  }
}

