<app-title title="Mededeling"></app-title>
<div class="announcement">
  <div class="image-container">
    <img class="image" src="https://www.lacomida.be/assets/websiteAfbeeldingen/Paella/paella%202%20(Custom)-001.jpg"/>
  </div>
  <div class="content">
    <div class="title">
      Paellafestijn
    </div>
    <div class="description">
      Dit jaar eens geen forellen, blijf in uw kot en laat u verwennen met een lekkere Paella aan huis.
      <br>Als alternatief voor ons forellenfestijn organiseren wij op 28 juni een Paellafestijn!
      <div class="button-container">
        <div class="button" routerLink="/paella">
          <span>Online reserveren</span>
        </div>
      </div>
    </div>
  </div>
</div>
