@import '../../colors';

.photo-album {
  position: relative;

  width: calc(100% - 20px);
  height: 190px;
  margin: 0 10px 10px 10px;
  overflow: hidden;

  border-radius: 7px;

  .picture {
    min-width: 100%;
    min-height: 190px;

    overflow: hidden;

    img {
      width: 100%;

      border-radius: 5px;
    }
  }

  .overlay {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 190px;

    background-color: #FFFFFFCC;
  }

  .logo {
    position: absolute;
    top: 10px;
    left: 10px;

    width: 10vw;
    height: 10vw;

    background-size: 10vw;
    border-radius: 50%;
  }

  .title {
    position: absolute;
    top: 55px;

    width: 100%;
    height: 22px;

    font-size: 22px;
    text-align: center;
  }

  .date {
    position: absolute;
    top: 85px;

    width: 100%;

    font-size: 18px;
    font-weight: 300;
    text-align: center;
  }

  .link {
    position: absolute;
    top: 125px;
    left: calc(50% - 80px);

    width: 160px;
    height: 20px;
    margin: 0px auto;
    padding: 10px 0;

    font-size: 18px;
    text-align: center;

    background-color: #eeeeee;
    border: solid 1px;
    border-radius: 5px;
    box-shadow: 3px 3px 6px #303030;

    cursor: pointer;
  }
}

.photo-album.FF {
  .logo {
    background-image: url("../../../assets/images/logo_fanfare.png");
  }

  .title {
    color: $ff-red;
  }

  .link {
    color: $ff-red;
    border-color: $ff-red;
  }
}

.photo-album.MM {
  .logo {
    background-image: url("../../../assets/images/logo_muziekmakkers.png");
    transform: scaleX(-1);
  }

  .title {
    color: $mm-green;
  }

  .link {
    color: $mm-green;
    border-color: $mm-green;
  }
}

.photo-album.MR {
  .logo {
    background-image: url("../../../assets/images/logo_muziekrakkers.png");
    transform: scaleX(-1);
  }

  .title {
    color: $mr-orange;
  }

  .link {
    color: $mr-orange;
    border-color: $mr-orange;
  }
}

.photo-album.F4F {
  .logo {
    background-image: url("../../../assets/images/logo_fanfare4fun.png");
    transform: scaleX(-1);
  }

  .title {
    color: $f4f-purple;
  }

  .link {
    color: $f4f-purple;
    border-color: $f4f-purple;
  }
}

@media (min-width: 400px) {
  .photo-album {
    .picture {
      img {
        margin-top: calc(-25vw + 30px);
      }
    }
  }
}

@media (min-width: 500px) {
  .photo-album {
    .logo {
      width: 50px;
      height: 50px;

      background-size: 50px;
    }
  }
}

@media (min-width: 875px) {
  .photo-album {
    .picture {
      img {
        margin-top: -40px;
      }
    }
  }
}

