@import '../../colors';

:host {
  font-weight: 300;

  div {
    padding: 0px 15px 15px 15px;

    &.photo-albums {
      padding: 0;
    }

    ul {
      padding: 10px 0 10px 20px;

      li {
        margin-bottom: 5px;
      }
    }
  }

  app-title {
    ::ng-deep .title hr {
      border-color: $f4f-purple;
    }
  }
}
