<app-hero-image group="F4F" image="/assets/images/hero_fanfare4fun.jpg" quote="Alles behalve een gewone fanfare"></app-hero-image>
<app-breadcrumb group="f4f" [links]="[{ title: 'Over ons', url: '/over-ons' }, { title: 'Over de Fanfare 4 Fun' }]"></app-breadcrumb>
<app-title title="Over de Fanfare 4 Fun"></app-title>
<div>
  <p>
    <strong>De repetities van de Fanfare 4 Fun worden helaas niet hervat na de ingelaste pauze door Corona.</strong>
  </p>
  <br/>
  <p>
    Wat begon als een project dat 2 jaar zou lopen in 2004, maar uitgroeide tot een vaste waarde voor vele muzikanten, moet nu toch jammer genoeg na 16 jaar stilgelegd worden.
  </p>
  <br/>
  <p>
    Door een combinatie van praktische en creatieve moeilijkheden omtrent de Fanfare 4 Fun voelen wij ons genoodzaakt om de huidige werking ervan stil te leggen.
    Wij blijven nadenken over mogelijkheden en manieren om de Fanfare 4 Fun nieuw leven in te blazen, maar voorlopig blijven alle repetities en activiteiten afgelast.
  </p>
</div>
<app-title title="Recente fotoalbums"></app-title>
<div class="photo-albums">
  <app-photo-album *ngFor="let recentAlbum of recentAlbums$ | async" [photoAlbum]="recentAlbum"></app-photo-album>
</div>
