<app-hero-image group="F4F" image="/assets/images/hero_fanfare4fun.jpg" quote="Alles behalve een gewone fanfare"></app-hero-image>
<app-breadcrumb group="f4f" [links]="[{ title: 'Over ons', url: '/over-ons' }, { title: 'Over de Fanfare 4 Fun' }]"></app-breadcrumb>
<app-title title="Over de Fanfare 4 Fun"></app-title>
<div>
  <p>
    <strong>Alle activiteiten van de Fanfare 4 Fun werden stopgezet en worden niet hervat.</strong>
  </p>
  <br/>
  <p>
    Wat begon als een project dat 2 jaar zou lopen in 2004, maar uitgroeide tot een vaste waarde voor vele muzikanten, moet nu toch jammer genoeg na 16 jaar stilgelegd worden.
  </p>
  <br/>
  <p>
    Door een combinatie van praktische en creatieve moeilijkheden omtrent de Fanfare 4 Fun voelen wij ons genoodzaakt om de huidige werking ervan stil te leggen.
    Wij danken iedereen die heeft bijgedragen tot dit fantastische project en kijken met veel vreugde terug naar de mooie tijden die we samen beleefden.
  </p>
</div>
<app-title title="Recente fotoalbums"></app-title>
<div class="photo-albums">
  <app-photo-album *ngFor="let recentAlbum of recentAlbums$ | async" [photoAlbum]="recentAlbum"></app-photo-album>
</div>
