<div class="header">
  <div class="header-branding">
    <div class="header-logo" routerLink="/"></div>
    <div class="header-title">
      <div class="title-top">Koninklijke Fanfare</div>
      <div class="title">De Vrienden van 't Recht</div>
      <div class="title-bottom">VZW Blaasveld</div>
    </div>
  </div>
  <div class="header-links">
    <app-menu></app-menu>
  </div>
  <div class="header-menu" (click)="menuOpen = !menuOpen">
    <span *ngIf="!menuOpen">&nbsp; Menu</span>
    <app-logo *ngIf="!menuOpen" name="menu" size="20"></app-logo>
    <span *ngIf="menuOpen">Sluiten</span>
    <app-logo *ngIf="menuOpen" name="close" size=16></app-logo>
  </div>
</div>
<app-menu *ngIf="menuOpen" [isDropDown]="true"></app-menu>
