@import '../../colors';

.header {
  position: fixed;
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 1024px;
  height: 70px;

  background-color: $white;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.06) 0 3px 6px;

  .header-branding {
    display: flex;
    align-items: center;

    .header-logo {
      width: 60px;
      height: 60px;
      margin: 5px 0 5px 10px;

      border-radius: 50%;
      background-image: url("../../../assets/images/logo_fanfare.png");
      background-size: 60px;

      cursor: pointer;
    }

    .header-title {
      display: flex;
      flex-direction: column;

      margin: 0 15px;

      cursor: pointer;

      .title-top,
      .title-bottom {
        color: $ff-red-dark;
        font-size: 10px;
      }

      .title {
        color: $ff-red;
        font-size: 16px;
      }

      .title-bottom {
        text-align: end;
      }
    }
  }

  .header-links {
    display: none;
  }

  .header-menu {
    position: relative;
    right: 0;

    display: inline-flex;
    align-items: center;

    height: 70px;

    color: $black-light;
    font-size: 12px;
    font-weight: 300;

    cursor: pointer;

    span {
      display: inline-block;
      margin-right: 5px;
    }

    app-icon {
      margin-right: 10px;
      fill: $black-light;
    }
  }
}

@media (min-width: 650px) {
  .header {
    .header-links {
      display: inline-block;
    }

    .header-menu {
      display: none;
    }
  }
}
