@import '../../../colors';

.menu {
  ul {
    list-style: none;

    font-weight: 300;

    li {
      display: inline-flex;
      align-items: center;

      margin-right: 20px;

      cursor: pointer;

      app-logo {
        display: none;
      }

      &.active {
        color: $ff-red-dark;

        app-logo {
          fill: $ff-red-dark;
        }
      }
    }
  }
}

.menu-dropdown {
  position: fixed;
  z-index: 500;
  top: 70px;
  right: 0px;

  width: 250px;
  height: 370px;

  background-color: $white;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  box-shadow: 0 3px 6px $black-lighter;

  ul {
    font-size: 22px;

    li {
      width: 200px;
      height: 60px;
      padding: 0 25px;

      border-top: solid 1px $black-lighter;

      app-logo {
        display: inline-block;
        margin: 0 15px;
        fill: $black-light;
      }
    }
  }
}

@media (min-width: 650px) {
  .menu {
    ul {
      li:last-of-type {
        display: none;
      }
    }
  }
}

@media (min-width: 770px) {
  .menu {
    ul {
      li:last-of-type {
        display: inline-block;
      }
    }
  }
}
