<div class="menu" [ngClass]="{ 'menu-dropdown': isDropDown }">
  <ul>
    <li routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <i class="material-icons">home</i>
      <span>Home</span>
    </li>
    <li routerLink="/activiteiten" routerLinkActive="active">
      <i class="material-icons">event_note</i>
      <span>Activiteiten</span>
    </li>
    <li routerLink="/fotos" routerLinkActive="active">
      <i class="material-icons">crop_original</i>
      <span>Foto's</span>
    </li>
    <li routerLink="/over-ons" routerLinkActive="active">
      <i class="material-icons">people</i>
      <span>Over ons</span>
    </li>
    <li routerLink="/contact" routerLinkActive="active">
      <i class="material-icons material-icons--outlined">email</i>
      <span>Contact</span>
    </li>
    <li routerLink="/forellenfestijn" routerLinkActive="active">
      <i class="material-icons">restaurant_menu</i>
      <span>Forellenfestijn</span>
    </li>
  </ul>
</div>
