<div class="menu" [ngClass]="{ 'menu-dropdown': isDropDown }">
  <ul>
    <li routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <app-icon name="house" size="20"></app-icon>
      <span>Home</span>
    </li>
    <li routerLink="/activiteiten" routerLinkActive="active">
      <app-icon name="calendar" size="20"></app-icon>
      <span>Activiteiten</span>
    </li>
    <li routerLink="/fotos" routerLinkActive="active">
      <app-icon name="picture" size="20"></app-icon>
      <span>Foto's</span>
    </li>
    <li routerLink="/over-ons" routerLinkActive="active">
      <app-icon name="people" size="28"></app-icon>
      <span>Over ons</span>
    </li>
    <li routerLink="/contact" routerLinkActive="active">
      <app-icon name="email" size="20"></app-icon>
      <span>Contact</span>
    </li>
    <li routerLink="/forellenfestijn" routerLinkActive="active">
      <app-icon name="fish" size="24"></app-icon>
      <span>Forellenfestijn</span>
    </li>
  </ul>
</div>
