<div class="menu" [ngClass]="{ 'menu-dropdown': isDropDown }">
  <ul>
    <li routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <app-logo name="house" size="20"></app-logo>
      <span>Home</span>
    </li>
    <li routerLink="/activiteiten" routerLinkActive="active">
      <app-logo name="calendar" size="20"></app-logo>
      <span>Activiteiten</span>
    </li>
    <li routerLink="/fotos" routerLinkActive="active">
      <app-logo name="picture" size="20"></app-logo>
      <span>Foto's</span>
    </li>
    <li routerLink="/over-ons" routerLinkActive="active">
      <app-logo name="people" size="28"></app-logo>
      <span>Over ons</span>
    </li>
    <li routerLink="/contact" routerLinkActive="active">
      <app-logo name="email" size="20"></app-logo>
      <span>Contact</span>
    </li>
    <li routerLink="/forellenfestijn" routerLinkActive="active">
      <app-logo name="fish" size="24"></app-logo>
      <span>Forellenfestijn</span>
    </li>
  </ul>
</div>
