@import '../../colors';

.breadcrumb {
  margin: 10px 0 10px 10px;

  font-weight: 300;
  color: #333333;

  a {
    text-decoration: none;
  }

  span.devider {
    display: inline-block;
    margin: 0 10px;
  }
}
