<div class="menu">
  <ul>
    <li>
      <i class="material-icons">home</i>
      <span>Home</span>
    </li>
    <li>
      <i class="material-icons">event_note</i>
      <span>Activiteiten</span>
    </li>
    <li>
      <i class="material-icons">crop_original</i>
      <span>Fotoalbums</span>
    </li>
    <li>
      <i class="material-icons">people</i>
      <span>Over ons</span>
    </li>
    <li>
      <i class="material-icons material-icons--outlined">email</i>
      <span>Contact</span>
    </li>
    <li>
      <i class="material-icons">restaurant_menu</i>
      <span>Forellenfestijn</span>
    </li>
  </ul>
</div>
