@import '../../colors';

.menu {
  position: fixed;
  z-index: 500;
  top: 70px;
  right: 0px;

  width: 250px;
  height: 370px;

  background-color: $white;
  border-radius: 0 0 10px 10px;

  ul {
    list-style: none;

    font-size: 22px;
    font-weight: 300;

    li {
      display: flex;
      align-items: center;

      width: 200px;
      height: 60px;
      margin: 0 25px;

      border-top: solid 1px $black-lighter;

      i {
        margin: 0 15px;
      }
    }
  }
}
