@import '../../colors';

:host {
  &.ng-touched {
    &.ng-invalid .inputField input {
      border-color: $ff-red;
      background-color: rgba(219, 0, 0, 0.05);
    }

    &.ng-valid .inputField input {
      border-color: $mm-green;
      background-color: rgba(141, 198, 65, 0.05);
    }
  }

  .inputField {
    position: relative;

    input {
      height: 16px;
      width: calc(100% - 20px);

      padding: 10px 10px;

      font-family: Roboto, Helvetica, Arial, sans-serif;
      font-size: 16px;

      border: solid 1px $black-lighter;
      border-radius: 3px;

      transition: border-color 1s, background-color 1s;

      &[type=number] {
        display: inline;
        width: 35px;
      }
    }

    label {
      position: absolute;
      top: 10px;
      left: 10px;

      color: $black-light;

      transition: top 0.5s, font-size 0.5s;

      &.top {
        top: -8px;
        left: 10px;

        padding: 0 5px;

        font-size: 12px;

        background: linear-gradient(transparent, transparent 48%, $white 49%, $white 62%, transparent 63%, transparent 100%);
      }
    }
  }
}


