.header {
  height: 70px;
  max-width: 1024px;
  margin: auto;
}

.content {
  min-height: calc(100vh - 70px - 165px - 50px);
  max-width: 1024px;
  margin: auto;
}

.footer {
  max-width: 1024px;
  margin: auto;
}
