$white: #FFFFFF;

$ff-red: #DB0000;
$ff-red-dark: #9E0B0F;

$mm-green: #8DC641;
$mm-green-dark: #5e8c22;

$mr-orange: #FD9E13;
$f4f-purple: #A94198;

$black-light: #303030;
$black-lighter: #30303032;

$grey: #808080;

a.ff {
  color: $ff-red-dark;
  border-bottom-width: 1px;
}

a.mm {
  color: $mm-green;
}

a.mr {
  color: $mr-orange;
}

a.f4f {
  color: $f4f-purple;
}
