<app-hero-image group="MM" image="/assets/images/hero_muziekmakkers.jpg" quote="De Muziekmakkers zijn de toekomst van onze fanfare" buttonLabel="Meespelen?" buttonLink="/over-ons/muziekmakkers#meespelen"></app-hero-image>
<app-breadcrumb group="mm" [links]="[{ title: 'Over ons', url: '/over-ons' }, { title: 'Over de Muziekmakkers' }]"></app-breadcrumb>
<app-title title="Over de Muziekmakkers"></app-title>
<div>
  De Muziekmakkers is het jeugdensemble van de Fanfare van Blaasveld.
  <br/><br/>
  In realiteit spelen er ook enkele volwassenen mee met het ensemble. Zij spelen mee als ondersteuning voor de nieuwelingen of omdat zij zelf de muziekmicrobe hebben overgekregen van hun spelend kind.
  <br/><br/>
  De Muziekmakkers is de ideale groep om je eerste fanfare-ervaring op te doen. Na enkele jaren bij het jeugdensemble ben je klaar om mee te spelen met de grote fanfare. Velen vinden de Muziekmakkers echter zo leuk, dat ze hun plaats in de grote fanfare maar al te graag combineren met een plaats bij hun makkers.
  <br/><br/>
  De Muziekmakkers is een samenwerking met de <a class="mm" href="http://www.academiewillebroek.be/" target="_blank">Academie voor muziek en woord Willebroek</a>.
</div>
<section #meespelen></section>
<app-title title="Meespelen?"></app-title>
<div>
  <strong>Heb je al een eerste ervaring met het bespelen van een instrument en speel je graag eens samen met andere beginners?</strong><br/>
  Kom eens langs op een repetitie of een activiteit van de Muziekmakkers of contacteer Theresia Simkens via <a href="mailto:theresia@simkens.be" class="mm">theresia@simkens.be</a>.
  <br/><br/>
  <strong>Ben je als volwassene geïnteresseerd om een muziekinstrument te leren spelen?</strong><br/>
  De Muziekmakkers is misschien ook iets voor jou. Na een korte passage bij de Muziekmakkers speel je in geen tijd mee met de fanfare. Stuur een mailtje naar <a href="mailto:fanfaars@gmail.com" class="ff">fanfaars@gmail.com</a> en we bekijken samen de mogelijkheden.
</div>
<app-title title="Repetities"></app-title>
<div>
  De Muziekmakkers repeteren elke <strong>zaterdagmiddag van 12u30 tot 13u30</strong> in de Hinxelaar in Blaasveld.
  <br/><br/>
  Een keer per maand is het na de repetitie vergadering met een hapje en een drankje.
</div>
<app-title title="Volgende activiteiten"></app-title>
<app-activity *ngFor="let nextActivity of nextActivities" [activity]="nextActivity"></app-activity>
<app-title title="Recente fotoalbums"></app-title>
<div class="photo-albums">
  <app-photo-album *ngFor="let recentAlbum of recentAlbums" [photoAlbum]="recentAlbum"></app-photo-album>
</div>
