@import '../../colors';

:host {
  display: block;

  margin-bottom: 10px;
}

.hero-image {
  position: relative;
  width: 100%;
  height: 195px;

  .picture {
    height: 190px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .overlay {
    position: absolute;
    top: 0;

    width: 100%;
    height: 195px;

    background-color: #FFFFFF50;
  }

  .quote {
    position: absolute;
    top: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 80%;
    height: 55px;
    padding: 5px 10%;

    font-size: 23px;
    font-weight: 300;
    text-align: center;

    color: #EEEEEE;
    background-color: #00000055;
  }

  .button-container {
    position: absolute;
    top: 120px;

    width: 100%;

    .button {
      display: flex;
      align-items: center;

      width: 240px;
      height: 40px;
      margin: 0 auto;

      background-color: #eeeeee;

      border: solid 1px;
      border-radius: 5px;
      box-shadow: 3px 3px 6px #303030;

      cursor: pointer;

      .logo {
        width: 30px;
        height: 30px;
        margin-left: 5px;

        background-size: 30px 30px;
      }

      span {
        display: inline-block;
        font-size: 18px;
        font-weight: 300;
        margin: 0px auto;
      }
    }
  }

  &.FF .button {
    width: 180px;

    color: $ff-red;
    border-color: $ff-red;

    .logo {
      background-image: url('../../../assets/images/logo_fanfare.png');
    }
  }

  &.MM .button {
    color: $mm-green;
    border-color: $mm-green;

    .logo {
      background-image: url('../../../assets/images/logo_muziekmakkers.png');
      transform: scaleX(-1);
    }
  }

  &.MR .button {
    color: $mr-orange;
    border-color: $mr-orange;

    .logo {
      background-image: url('../../../assets/images/logo_muziekrakkers.png');
      transform: scaleX(-1);
    }
  }

  &.F4F .button {
    width: 230px;

    color: $f4f-purple;
    border-color: $f4f-purple;

    .logo {
      background-image: url('../../../assets/images/logo_fanfare4fun.png');
      transform: scaleX(-1);
    }
  }
}

@media (min-width: 400px) {
  .hero-image {
    .picture {
      img {
        margin-top: calc(-25vw + 30px);
      }
    }
  }
}

@media (min-width: 1024px) {
  .hero-image {
    .picture {
      img {
        margin-top: -225px;
      }
    }
  }
}
