@import '../../colors';

.person-card {
  display: flex;
  margin: 5px 15px;
  padding: 5px;

  background-color: $white;
  border-radius: 5px;

  .picture {
    width: 85px;
    min-width: 85px;
    height: 85px;
    overflow: hidden;

    border: solid 1px $grey;
    border-radius: 50%;

    margin-right: 15px;
    align-content: center;

    img {
      height: 100px;
    }
  }

  .info {
    .name {
      padding: 3px 0;

      font-weight: 400;
    }

    .functions {
      padding: 3px 0;

      font-weight: 200;
    }

    .email {
      padding: 3px 0;
    }
  }
}
