@import '../../colors';

.hero-carousel {
  position: relative;

  app-hero-image {
    ::ng-deep .button-container {
      top: 110px;
    }
  }

  owl-carousel-o {
    ::ng-deep .owl-dots {
      position: absolute;
      bottom: 15px;
      width: 100%;

      .owl-dot {
        span {
          background-color: rgba(255, 255, 255, 0.53);
          background-color: #FFFFFF88;
        }

        &:hover span {
          background-color: rgba(255, 255, 255, 0.8);
          background-color: #FFFFFFCC;
        }

        &.active span {
          background-color: rgba(255, 255, 255, 0.93);
          background-color: #FFFFFFEE;
        }
      }
    }

    ::ng-deep .owl-nav {
      position: absolute;
      top: 40px;
      width: 100%;

      .owl-prev,
      .owl-next {
        position: absolute;

        color: rgba(255, 255, 255, 0.53);
        color: #FFFFFF88;

        background: none;
        font-size: 60px;

        &:hover {
          color: rgba(255, 255, 255, 0.8);
          color: #FFFFFFCC;
        }
      }

      .owl-prev {
        left: 0px;
      }

      .owl-next {
        right: 0px;
      }
    }
  }
}

@media (min-width: 600px) {
  .hero-carousel {
    owl-carousel-o {
      ::ng-deep .owl-nav {
        .owl-prev {
          left: 15px;
        }

        .owl-next {
          right: 15px;
        }
      }
    }
  }
}


