<div class="footer">
  <div class="copy">
    &copy; Koninklijke Fanfare De Vrienden van't Recht VZW Blaasveld
  </div>
  <div class="info">
    <ul>
      <li>
        <app-logo name="email" size="18"></app-logo>
        <span><a href="mailto:fanfaars@gmail.com">fanfaars@gmail.com</a></span>
      </li>
      <li>
        <app-logo name="facebook" size="18"></app-logo>
        <span><a href="https://www.facebook.com/FanfareBlaasveld">facebook.com/FanfareBlaasveld</a></span>
      </li>
      <li>
        <app-logo name="house" size="18" class="multiline"></app-logo>
        <span>Broekstraat 11<br/>2830 Blaasveld</span>
      </li>
      <li>
        <app-logo name="office" size="18"></app-logo>
        <span>0 457 786 946</span>
      </li>
    </ul>
  </div>
</div>
