<div class="footer">
  <div class="copy">
    &copy; Koninklijke Fanfare De Vrienden van't Recht VZW Blaasveld
  </div>
  <div class="info">
    <div class="email">
      <app-icon name="email" size="18"></app-icon>
      <span><a href="mailto:fanfaars@gmail.com">fanfaars@gmail.com</a></span>
    </div>
    <div class="facebook">
      <app-icon name="facebook" size="18"></app-icon>
      <span><a href="https://www.facebook.com/FanfareBlaasveld" target="_blank">facebook.com/FanfareBlaasveld</a></span>
    </div>
    <div class="address">
      <app-icon name="house" size="18" class="multiline"></app-icon>
      <span>Broekstraat 11<br/>2830 Blaasveld</span>
    </div>
  </div>
  <div class="logos">
    <div class="footer-fanfare" routerLink="/over-ons/fanfare" title="Over de fanfare"></div>
    <div class="logo logo-fanfare-4-fun" routerLink="/over-ons/fanfare-4-fun" title="Over de Fanfare 4 Fun"></div>
    <div class="logo logo-muziekrakkers" routerLink="/over-ons/muziekrakkers" title="Over de MuziekRakkers"></div>
    <div class="logo logo-muziekmakkers" routerLink="/over-ons/muziekmakkers" title="Over de Muziekmakkers"></div>
  </div>
</div>
