<app-hero-image group="MR" image="/assets/images/hero_muziekrakkers.jpg" quote="Op een speelse manier kennis maken met muziek" buttonLabel="Meespelen?" buttonLink="/over-ons/muziekrakkers#meespelen"></app-hero-image>
<app-breadcrumb group="mr" [links]="[{ title: 'Over ons', url: '/over-ons' }, { title: 'Over de MuziekRakkers' }]"></app-breadcrumb>
<app-title title="Over de MuziekRakkers"></app-title>
<div>
  De MuziekRakkers is een samenwerking met de <a class="mr" href="http://www.academiewillebroek.be/" target="_blank">Academie voor muziek en woord Willebroek</a>.
</div>
<a id="meespelen"></a><app-title title="Meespelen?"></app-title>
<div>
  <strong>Zit je in het eerste of tweede leerjaar en wil je op een speelse manier kennis maken met muziek?</strong><br/>
  Kom eens langs op een repetitie of een activiteit van de MuziekRakkers of contacteer Theresia Simkens via <a class="mr" href="mailto:theresia@simkens.be">theresia@simkens.be</a>.
</div>
<app-title title="Repetities"></app-title>
<div>
  De MuziekRakkers komen van september tot april telkens op <strong>zaterdag van 12u30 tot 13u30</strong> samen.
  <br/><br/>
  Deze kennismaking omvat 20 lessen van 1 uur.
</div>
<app-title title="Volgende activiteiten"></app-title>
<app-activity *ngFor="let nextActivity of nextActivities" [activity]="nextActivity"></app-activity>
<app-title title="Recente fotoalbums"></app-title>
<div class="photo-albums">
  <app-photo-album *ngFor="let recentAlbum of recentAlbums" [photoAlbum]="recentAlbum"></app-photo-album>
</div>
