<app-title title="Contact"></app-title>
<div>
  Voor algemene vragen en opmerkingen kan je mailen naar <a class="ff" href="mailto:fanfaars@gmail.com">fanfaars@gmail.com</a>.
</div>
<app-title title="Jeugdwerking"></app-title>
<div>
  Aan het hoofd van onze jeugdwerking staat Theresia Simkens.
  <br/><br/>
  Je kan haar bereiken via <a class="ff" href="mailto:theresia@simkens.be">theresia@simkens.be</a> voor alle vragen in verband met onze <a class="mm" href="/over-ons/muziekmakkers">Muziekmakkers</a>, <a class="mr" href="/over-ons/muziekrakkers">MuziekRakkers</a> en muziekinitiatie.
</div>
<app-title title="Fanfare 4 Fun"></app-title>
<div>
  De repetities en optredens van de <a class="f4f" href="/over-ons/fanfare-4-fun">Fanfare 4 Fun</a> worden georganiseerd door Jan Potoms.
  <br/><br/>
  Jan is te bereiken via <a class="ff" href="mailto:potomsjan@homail.com">potomsjan@homail.com</a>.
</div>
<app-title title="Bestuur"></app-title>
<div class="board-members">
  <app-person-card
    pictureUrl="assets/images/person_placeholder.png"
    name="Frans Cortebeek"
    [functions]="['Voorzitter']"
    email="fanfaars@gmail.com"></app-person-card>
  <app-person-card
    pictureUrl="assets/images/lex.png"
    name="Lex Potoms"
    [functions]="['Ondervoorzitter', 'secretaris']"
    email="lexpotoms@gmail.com"></app-person-card>
  <app-person-card
    pictureUrl="assets/images/melanie.png"
    name="Melanie Van Rompaey"
    [functions]="['Feestleidster']"
    email="fanfaars@gmail.com"></app-person-card>
  <app-person-card
    pictureUrl="assets/images/theresia.png"
    name="Theresia Simkens"
    [functions]="['Muziekma[k]kers', 'MuziekRakkers', 'Muziekinitiatie']"
    email="theresia@simkens.be"></app-person-card>
  <app-person-card
    pictureUrl="assets/images/pieter-jan.png"
    name="Pieter-Jan Potoms"
    [functions]="['Penningmeester']"
    email="pieterjanpotoms@gmail.com"></app-person-card>
  <app-person-card
    pictureUrl="assets/images/jonas.png"
    name="Jonas Brems"
    [functions]="['Webmaster']"
    email="jonasbrems@gmail.com"></app-person-card>
</div>
