<app-title title="Contact"></app-title>
<div>
  Voor algemene vragen en opmerkingen kan je mailen naar <a class="ff" href="mailto:fanfaars@gmail.com">fanfaars@gmail.com</a>.
</div>
<app-title title="Jeugdwerking"></app-title>
<div>
  Aan het hoofd van onze jeugdwerking staat Wendy Van Der Linden.
  <br/><br/>
  Je kan haar bereiken via <a class="ff" href="mailto:fanfaars@gmail.com">fanfaars@gmail.com</a> voor alle vragen in verband met onze <a class="mm" routerLink="/over-ons/muziekmakkers">Muziekmakkers</a>, <a class="mr" routerLink="/over-ons/muziekrakkers">MuziekRakkers</a>.
</div>
<app-title title="Bestuur"></app-title>
<div class="board-members">
  <app-person-card
    pictureUrl="assets/images/jan.png"
    name="Jan Potoms"
    [functions]="['Voorzitter']"
    email="potomsjan@homail.com"></app-person-card>
  <app-person-card
    pictureUrl="assets/images/lex.jpg"
    name="Lex Potoms"
    [functions]="['Ondervoorzitter', 'secretaris']"
    email="lexpotoms@gmail.com"></app-person-card>
  <app-person-card
    pictureUrl="assets/images/wendy.png"
    name="Wendy Van Der Linden"
    [functions]="['Muziekmakkers', 'MuziekRakkers']"
    email="fanfaars@gmail.com"></app-person-card>
  <app-person-card
    pictureUrl="assets/images/frans.png"
    name="Frans Cortebeeck"
    [functions]="['Bestuurslid']"
    email="fanfaars@gmail.com"></app-person-card>
  <app-person-card
    pictureUrl="assets/images/pieter-jan.jpg"
    name="Pieter-Jan Potoms"
    [functions]="['Penningmeester']"
    email="pieterjanpotoms@gmail.com"></app-person-card>
  <app-person-card
    pictureUrl="assets/images/jonas.jpg"
    name="Jonas Brems"
    [functions]="['Bestuurslid']"
    email="jonasbrems@gmail.com"></app-person-card>
</div>
<app-title title="Vereniging"></app-title>
<table class="vereniging" cellspacing="10">
  <tbody>
    <tr>
      <th>Naam</th>
      <td>Koninklijke Fanfare De Vrienden van 't Recht VZW Blaasveld</td>
    </tr>
    <tr>
      <th>Opgericht</th>
      <td>1885</td>
    </tr>
    <tr>
      <th>
        Secretariaat
      </th>
      <td>
        Broekstraat 11, 2830 Blaasveld
      </td>
    </tr>
    <tr>
      <th>Ondernemingsnummer</th>
      <td>0 457 786 946</td>
    </tr>
  </tbody>
</table>
